

@font-face {
  font-family: "freight-text";
  src: url(../../fonts/freight-text-book.ttf);
}

@font-face {
  font-family: "antique-oakland-bold";
  src: url(../../fonts/antique-oakland-bold.ttf);
}

p, p a, .full_text {
	font-style: normal;
	font-family: "freight-text", Georgia;
	letter-spacing: 0.01rem;
	font-weight: 400;
	font-size: 22px;
	line-height: 1.4;
	text-align: justify;
}

p.sub-header {
	margin: 0px 0 20px 0;
}

a, .no-link {
	text-decoration: underline;
	color: #000;
}

.top-img-column {
	height: 400px;
}

.ui.header.top-title {
	font-family: "freight-text", Georgia;
	font-size: 35px;
	font-weight: 700;
	margin: -15px 0 0 0px;
}

.ui.header.top-title.experience {
	margin-top: 0px;
}

.ui.header.projects {
	margin: -10px 0px 5px;
}

.ui.header.top-title .text {
	border-bottom: 2px solid rgba(0, 0, 0, 0.4);
}

.ui.header.title {
	font-family: "freight-text", Georgia;
	font-size: 35px;
	margin-top:10px;
	margin-bottom: 2px;
	font-weight: 550;
}

.ui.header.subtitle {
	font-size: 1rem;
	font-weight: normal;
	margin: 0em;
	padding: 0em;
	line-height: 1.2;
	color: rgba(0, 0, 0, 0.5);
	font-style: normal;
	font-family: Georgia;
	letter-spacing: 0.01rem;
}

.ui.right.floated.image {
	margin-top: 1.9em;
}

.ui.grid.top-menu {
	padding-bottom: 5px;
}

.ui.up.arrow {
	position: fixed;
	bottom: 15px;
	right: 20px;
}

.ui.grid > .row {
	margin-top: -0.5%;
}

.ui.pointing.menu .item {
	font-size: 18px;
}

.ui.grid > .row {
	margin-top: 0px;
	padding-top: 0px;
}

.ui.twelve.wide.column {
	padding: 0px 10px 0px 10px !important;
}

.ui.stackable.grid > .column, .ui.stackable.grid > .row > .column  {
	padding-top: 0px;
	margin-top: 0px;
	padding-bottom: 0px;
	margin-bottom: 0px;
}

.maincontent {
	padding-top: 10px;
}

.name {
	font-size: 20px;
	font-style: normal;
	font-family: Georgia;
	letter-spacing: 0.01rem;
	font-weight: 400;
	font-size: 45px;
	line-height: 1.2;
}

.red {
	color: #000;
	font-weight: 700;
	cursor: pointer;
	font-family: "antique-oakland-bold", Georgia;
}

.red-color {
	color: red;
	font-weight: 700;
	cursor: pointer;
	font-family: "antique-oakland-bold", Georgia;
}

.centerimage {
	margin: 0 auto;
}

.ui.right.floated.image.nomargin {
	margin-top: 0;
	margin-bottom: 0;
}

.ui.twelve.wide.column.centeraligned p{
	text-align: center;
}
.ui.horizontal.divider {
	margin-bottom: 40px;
}

.ui.medium.image.sidepic {
	margin-top: 0px;
	width: 300px;
}

.ui.medium.image.scoopbanner {
	width: 75%;
}

.ui.medium.image.paycliplogo {
	width: 100px ;
}

.ui.medium.image.payclip_img {
	width: 200px ;
	margin-top: 0px;
}

.ui.medium.image.remologo {
	width: 300px ;
}

.ui.medium.image.miclogo {
	width: 350px ;
	margin-bottom: 15px;
}

.ui.medium.image.scooplogo {
	width: 700px ;
}

.row.more {
	margin-bottom: 15px;
}

.no-text-decor {
	text-decoration: none;
}

.mozdrive-tweet {
	width: 530px;
	height: 110px;
	margin-top: -15px;
	padding-bottom: 15px;
}

.ui.center.aligned.header.copyright {
	margin-top: -10px;
	font-family: "freight-text", Georgia;
	font-size: 14px;
	font-weight: 300;
}


.ui.center.aligned.header.copyright a{
	text-decoration: none;
}

.ui.divider {
	margin-top:30px;
}

.ui.divider.nomargin {
	margin-top: 0px;
}

.ui.divider.sm {
	margin-top: 15px;
}

.ui.small.images.sm img {
	width: 50px;
}

.ui.medium.images img {
	height: 225px;
}

.ui.medium.images.food img {
	width: 275px;
}

.ui.images.sm {
}

.img-header {
	width: 100%;
	margin-bottom: 10px;
}

.tooltip {
	display:none;
	position:absolute;
	border: 1px solid #333;
	background-color:#161616;
	border-radius: 4px;
	padding: 5px;
	color:#fff;
	font-size: 12px;
	font-family: "freight-text", Georgia;
}
